html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: Inter,sans-serif
}

body {
    margin: 0
}

.container {
    width: 100%;
    max-width: 1216px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
}

h1 {
    margin-top: 20px;
    font-size: 38px;
    line-height: 44px
}

h2 {
    margin-top: 20px;
    font-size: 32px;
    line-height: 36px
}

h3 {
    margin-top: 20px;
    font-size: 24px;
    line-height: 30px
}

h4 {
    margin-top: 10px;
    font-size: 18px;
    line-height: 24px
}

.h4 {
    letter-spacing: -.04em;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1
}

.h5 {
    letter-spacing: -.04em;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1
}

.h6 {
    letter-spacing: -.04em;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1
}

p {
    margin-top: 0;
    margin-bottom: 10px
}

.wrap{
	min-width: 800px;
}

a{
	text-decoration: none;
	font-size: 13px;
	line-height:24px;
	color:#404040;
}

a:hover{
	text-decoration:underline;
}

/*HEADER*/

header{
	overflow:hidden;
}

header ul{
	margin-right:5px;
	letter-spacing:1px;
}

header ul li{
	margin-right:14px;
}

header ul li a:hover{
	color:black;
}

.apps:hover{
	cursor: default;
	color:black;
}

.button{
	background:#4683EA;
	box-sizing:border-box;
	padding:.5em .75em;
	line-height: 28px;
	letter-spacing:normal;
}

.button a{
	color:white;
	font-weight:bold;
}

.button a:hover{
	text-decoration:none;
	cursor: default;
	color:white;	
}

.navbar {
    height: 84px;
    background-color: rgba(255,255,255,0);
    justify-content: center;
    align-items: center;
    display: flex;
}

.container-navbar {
    width: 100%;
    max-width: 1216px;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
}

.navbar-logo-wrapper {
    width: 183px;
    height: 40px;
    position: relative;
    overflow: hidden;
}

.w-nav-brand {
    float: left;
    color: #333;
    text-decoration: none;
    position: relative;
}

.u-img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}
/*Main Content*/
.autocomplete{
	font-weight: 400;
    line-height: 1em;
    margin: 0;
    padding: 0;
    text-align: left;
}

.autcomplete-res{
	box-sizing: border-box;
}
.main{
	clear:both;
	width:100%;
}

.main img{
	display:block;
	margin:auto;
	height:95px;
	padding-top:112px;
}

form{
	text-align: center;
}

.row.row-justify-center {
    justify-content: center;
}

.row {
    grid-row-gap: 2.5rem;
    flex-wrap: wrap;
    align-content: stretch;
    margin-left: -20px;
    margin-right: -20px;
    display: flex;
}

.col.col-lg-10 {
    max-width: 83.3333%;
    flex-basis: 83.33%;
}

.col.col-lg-8 {
    max-width: 66.6667%;
    flex-basis: 66.67%;
}

.col {
    flex: 1;
    padding-left: 20px;
    padding-right: 20px;
}

#searchbox{
	font-size:16px;
	height:26px;
	width:600px;
	margin-top:30px;
	color: rgba(38,38,39,1);
	font-weight: 400;
	line-height: 1em;
	text-align: left;
	
}

.searchForm{
	border-radius: 100px;
    padding: 10px 24px;
    border: 1px solid #e5e5e5;
	display: flex;
    line-height: 1em;
    margin: 0;
    position: relative;
    width: 100%;
	align-items: center;
}

.searchSuggestion{
    padding: 10px 24px;
	display: flex;
    line-height: 1em;
    margin: 0;
    position: relative;
    width: 100%;
	align-items: baseline;
}

.suggText{
	margin-right: 10px;
}

.submit{
	appearance: none;
    background: none;
    border: 0;
    margin: 0;
}

.submit:hover{
	border:1px solid rgba(0,0,0,.2);
	color:black;
	box-shadow: 1px 1px 5px rgba(0,0,0,.2);
}

.u-text-center {
    text-align: center;
}

.ipmain{
	height: auto;
	font-size: 18px;
	background: none;
    border: 0;
    color: rgba(38, 38, 39,1);
    height: 44px;
    padding: 0;
    width: 100%;
}



input[type=search]:focus {
    border: none;
	outline: none;
}

.label{
	cursor: auto;
    flex-shrink: 0;
    height: 100%;
    padding: 0;
    text-align: left;
}

.inputPrefix {
    order: 5;
	width: 24px;
    height: 24px;
    margin-bottom: 0;
}

.inputMain {
    order: 3;
    position: relative;
    width: 100%;
}

.inputSuffix {
    align-items: center;
    display: flex;
    height: 24px;
    order: 4;
}

.clearButton[hidden] {
    display: none;
}

.clearButton {
    align-items: center;
    background: none;
    border: 0;
    color: rgba(128, 126, 163,0.6);
    cursor: pointer;
    display: flex;
    height: 100%;
    margin: 0;
}

.result-description{
	width: 550px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 10px;
}

.u-mb-1 {
    margin-bottom: 1em;
}

.u-text-black {
    color: black;
}

.u-text-black-40 {
    color:#999;
}

.u-text-blue-40 {
    color:cornflowerblue;
}

.u-text-err {
    color: rgb(181, 74, 74);
}

.h3 {
    letter-spacing: 0.01em;
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1;
}

.hit {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
}

.hitlist{
	margin: 0;
    padding: 0;
    list-style: none;
}

.hitlistItem{
	padding: 25px 0px;
    border-bottom: 1px solid #f2f2f2;
}

.hitTitle {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: #000000;
    margin-bottom: 0.5rem;
    display: block;
}

.hitImage {
    display: block;
    width: 10px;
    height: 110px;
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
}

.topic {
    padding: 4px 6px;
    border: 1px solid #e5e5e5;
    border-radius: 24px;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1;
    color: #666;
}

.topicSugg{
	padding: 7px 15px;
    border: 1px solid #dedddd;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
    color: #6b90d3;
    margin: 10px 10px;
}

.match{
	text-decoration:underline;
	color:cadetblue;
}
/*Footer*/

footer{
	overflow:auto;
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	min-width:800px;
	height:30px;
	background: #ededed;
	border-top: 1px solid rgba(0,0,0,.1);
	padding: 5px;
}

footer a{
	margin-right:30px;
	letter-spacing:1px;
}

footer .left{
	float:left;
}

footer .right, header ul{
	float:right;
}