<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<title>Huberman Lab Search</title>
</head>
<body>
	<div class="wrap">
    <div class="navbar">
        <div class="container-navbar">
            <a href="https://www.hubermanlab.com/" target=”_blank” class="navbar-logo-wrapper w-nav-brand"><img src="{{ url_for('static', filename='huberman_logo.png') }}" loading="eager" alt="Home" class="u-img-cover"></a>
        </div>
    </div>

	<div class="container">
        <div class="row row-justify-center">
            <div class="col col-lg-10 col-sm-12">
                <a href="{{ url_for('index_get')}}"><p class="h4 u-text-center u-mb-1">Search Huberman&nbsp;Lab</p></a>
                <div class="autcomplete">
                    <form name="input" action="{{ url_for('search')}}" method="post" class="searchForm">
                        <div class="inputPrefix">
                            <label class="label">
                            <button class="submit" type="submit" value="Search">
                            <svg class="submitIcon" viewBox="0 0 24 24" width="20" height="20" fill="currentColor"><path d="M16.041 15.856c-0.034 0.026-0.067 0.055-0.099 0.087s-0.060 0.064-0.087 0.099c-1.258 1.213-2.969 1.958-4.855 1.958-1.933 0-3.682-0.782-4.95-2.050s-2.050-3.017-2.050-4.95 0.782-3.682 2.050-4.95 3.017-2.050 4.95-2.050 3.682 0.782 4.95 2.050 2.050 3.017 2.050 4.95c0 1.886-0.745 3.597-1.959 4.856zM21.707 20.293l-3.675-3.675c1.231-1.54 1.968-3.493 1.968-5.618 0-2.485-1.008-4.736-2.636-6.364s-3.879-2.636-6.364-2.636-4.736 1.008-6.364 2.636-2.636 3.879-2.636 6.364 1.008 4.736 2.636 6.364 3.879 2.636 6.364 2.636c2.125 0 4.078-0.737 5.618-1.968l3.675 3.675c0.391 0.391 1.024 0.391 1.414 0s0.391-1.024 0-1.414z"></path></svg>
                            </button></label>
                        </div>
                        <div class="inputMain">
                            <input type="search" name="search_query" class="ipmain" id="searchBar" placeholder="Which episode are you looking for?">
                        </div>
                        <div class="inputSuffix">
                            <button class="clearButton" type="reset" title="Clear" hidden>
                                <svg class="clearIcon" viewBox="0 0 24 24" width="18" height="18" fill="black"><path d="M5.293 6.707l5.293 5.293-5.293 5.293c-0.391 0.391-0.391 1.024 0 1.414s1.024 0.391 1.414 0l5.293-5.293 5.293 5.293c0.391 0.391 1.024 0.391 1.414 0s0.391-1.024 0-1.414l-5.293-5.293 5.293-5.293c0.391-0.391 0.391-1.024 0-1.414s-1.024-0.391-1.414 0l-5.293 5.293-5.293-5.293c-0.391-0.391-1.024-0.391-1.414 0s-0.391 1.024 0 1.414z"></path></svg>
                            </button>
                        </div>
                    </form>
                    <div class="searchSuggestion">
                        <div class="suggText"><p class="h5 u-mb-1">Suggestions: </p></div>
                        <div>
                            <button class="topicSugg" onclick="addKeyword('Mental Health')">Mental Health</button>
                            <button class="topicSugg" onclick="addKeyword('Focus')">Focus</button>
                            <button class="topicSugg" onclick="addKeyword('Light')">Light</button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        
       

	</div>
	<footer>
		<p class="h6 u-text-center u-mb-1"> Developed @ UniOsna </p>
	</footer>
	</div>
    <script>
        function addKeyword(keyword) {
            // Get the search bar element
            var searchBar = document.getElementById('searchBar');
        
            // Set the value of the search bar to the clicked keyword
            searchBar.value = keyword;
        }
        </script>
</body>
</html>
